.app-name {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
    margin: 2px;
}

.nav-styled {
    flex: 0 1 auto;
    background-color: #1e2e22;
}

.btn {
    font-size: 21px;
    color: white;
    margin: 10px 10px 10px 10px;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    width: 100px;
    border-radius: 50px;  
}