<div class="bg-image">
    <div class="root">
        <div class="board">
        
        <div class="board-bar">
            <p class="board-name">{{ board.name }}</p>
        </div>
        
        <div class="board-wrapper">
        
            <div class="board-columns" cdkDropListGroup>
                <div class="board-column" *ngFor="let column of board.columns; let i = index">
        
                    <div class="column-title">
                        {{ column.name }}
                    </div>
                    <div class="input-form">
                        <input type="text" placeholder="Add a new item" #task>
                        <button mat-raised-button (click)="addTask(i, task.value)">Add</button>                             
                    </div>
        
                    <div class="tasks-container"
                        cdkDropList
                        [cdkDropListData]="column.tasks"
                        (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let item of column.tasks; let j = index" cdkDrag>
                            {{item}}
                            <button mat-raised-button (click)="removeTask(i, j)">Delete</button>
                        </div>
                    </div>
                </div>
        
                </div>
        
            </div>
    
        </div>
    
    </div>
</div>